.grandparent{
    width: 600px;
    border: 5px solid;
    padding: 30px;
}

.parent{
    border: 3px solid blueviolet;
    margin: 5px 0;
    text-align: center;
    padding: 10px;
}

.child{
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: aqua;
}

button{
    padding: 10px 15px;
}